<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="server" type="AutomatonServerLib.Config.SectionHandler,AutomatonServerLib"/>
  </configSections>

  <server
       serverlocatorrequestport="8086"
       serverlocatorresponseport="8087"
       serviceport="8088"
       serviceusername="gcconner"
       servicepassword="Nudec0der" />
</configuration>